html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    background-color: #c3b1e117;
    background-color:white;
    color: rgb(17, 53, 85);
    font-size: 16px;
    width: 100%;
    overflow-x: hidden;

}
body, .body{
    position: relative;
    background-color: #ece6ff;
    background-color: white;
    background-color: aliceblue;
    background-color: transparent;
    max-width: 1280px;
    margin: auto; padding: 0;
    text-align: center;
    padding-top: 8em;
}
.body{
    max-width: 1280px;
}

.shadow{
    box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.1);
}

.row{
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    direction: ltr;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.col{
    display: inline-block;
    position: relative;
    width: auto;
    height: auto;
    direction: ltr;
    vertical-align: top;
    text-align: center;
}
.col.single{
    max-width: 300px;
}
.col.main{
    max-width: 600px;
    width: 90%;
    height: auto;
}
.col.left{
    float: left;
    margin-left: 10px;
}
.col.right{
    float: right;
    margin-right: 10px;
}

.extendedSection{
    position: relative;
    text-align: center;
    width: auto;
    box-sizing: border-box;
}
.extendedSection::before{
        content: "";
        position: absolute;
        top: 0; left: calc( (100% - 100vw)/2 );
        width: calc(100vw); height: 100%;
        background-color: inherit;
        box-shadow: inherit;
        z-index: 1;
}
.extendedSection > *{
    position: relative;
    z-index: 2;
}

#topbar{
    position: absolute;
    top: 0; left: 0;
    height: 5em;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    text-align: justify;
    text-align-last: justify;
    background-color: white;

    z-index: 5;
}

.logo{
    position: relative;
    height: 100%;
    width: auto;
    display: inline-block;
    vertical-align: middle;

}
nav {
    vertical-align: middle;
    display: inline-block;
}
nav > a{
    display: inline-block;
    padding: 1em;
}

#footer{
    
    
}

.mainContainer{
    min-height: auto;
}



.notebook{
    width: fit-content;
}
.paperstack{
    position: absolute;
    top: 0;
    width: 280px;
    height: 100%;
    box-shadow: 0 0 8px 1px rgba(0,0,0,0.1);
    box-sizing: border-box;
    z-index: 1;
    padding: 10px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}



.paperstack::before{
    content: "";
    position: absolute;
    left: 100%; top: 0;
    
    height: 100%;
    width: 30px;
    background-image: radial-gradient(circle, rgba(0,0,0,0.025) 0%,rgba(0,0,0,0.025) 30%,rgb(255, 255, 255) 30%  );
    background-size: 30px 30px;
    background-repeat: repeat-y;
    z-index: -1;
}
.notebook > *:last-child::after{
    
        content: "";
        position: absolute;
        left: -3px;
        top: 2px;
        height: 100%;
        width: 150px;
        width: 40px;
        
        

        transform: translate3D(-45%,-11px,0);
        transform: translate3D(-50%,0px,0);
        z-index: 1;

    
        background-position: 0 2px;
        background-size: 100% 30px;
        background-repeat: repeat-y;

        background-image: radial-gradient(circle farthest-side at 50% 150%, transparent 31%, rgba(83, 83, 83, 0.15) 32%, rgba(83, 83, 83, 0.15) 34%, rgba(83, 83, 83, 0.15) 36%, rgba(83, 83, 83, 0.15) 38%, transparent 39%);
        background-image: linear-gradient(  7deg , transparent 45%, rgb(222, 222, 222) 47%, rgb(222, 222, 222) 53%, transparent 55%);
        filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.1));
}

.paperstack:nth-child(odd){
    left: 0;
    padding-right: 30px;
    margin-right: 3px;
}
.paperstack:nth-child(even) {
    right: 0;
    left: unset;
    padding-left: 30px;
    margin-left: 3px;
}
.paperstack:nth-child(odd)::before{
    right: 0;
    left: unset;
}
.paperstack:nth-child(even)::before{
    left: 0 !important;
    background-position: 0px 5px;
}
.paperstack:nth-child(even){
    right: 0;
}
.paperstack:nth-child(odd){
    left: 0;
    
}

.homeNotebook{
    width: 600px;
    height: 420px;
}
.homeNotebook > .paperstack:nth-child(1){
    width: 340px;
}
.homeNotebook > .paperstack:nth-child(2){
    width: 245px;
    margin-right: 10px;
}
.homeTop{
    direction: rtl; max-width: 1024px; margin: 1em auto; text-align: justify; text-align-last: justify ;
}
.homeTop > *{
    
    text-align: center;
    text-align-last: center;
}
.homeExtra{
    margin: 3em 1.5em;
    vertical-align: bottom;
}

.contactCard{
    position: relative;
    width: 300px;
    height: 170px;
    margin: 1em 0;

    vertical-align: bottom;

    margin:  1.5em;

}
.contactCard > div{
    position: absolute;
    bottom: 0; right: 0;
    font-size: .75em;
    width: 280px;
    height: 150px;
    vertical-align: middle;

    background-size: cover;
    background-position: center;
    background-color: white;
}
.contactCard > div:first-child{
    top: 0; left: 0;
    transform: rotate(-10deg);

    background-image: url(../res/card1.png);
    background-color: whitesmoke;
}
.cardFace::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    width: 100%; height: 100%;
    opacity: .5;
    background-size: inherit;
    background-position: inherit;
    background-repeat: inherit;
    background-blend-mode:lighten;
    background-blend-mode:exclusion;
    background-color: inherit;
    background-image: url(../res/card2.png);
    z-index: 1;
}
.cardFace{
    opacity: 1;
}
.cardFace > *{
    position: relative;
    z-index: 1;
}

.cardFace > h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.25em;
    margin: 1em;
    margin-bottom: .5em;
}
.cardFace > span{
    font-size: .8em;
}
.cardFace > hr{
    width: 5em;
}
.cardFace > a{
    font-size: .8em;
    margin: .5em;
    display: inline-block;
}

.cardFace > .socialMediaIcons{
    margin: 1em 0;
}

.socialMediaIcons > a{

}

.reviewEnvelope{
    width: 280px;
    height: 200px;
    vertical-align: bottom;
    margin: 1em 0;
}
.reviewEnvelope::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0px;
    width: 220px;
    border: solid whitesmoke 30px;
    border-top: solid transparent 70px;
    z-index: 1;
}
.reviewEnvelope::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    border: transparent solid 140px;
    border-top: solid transparent 0px;
    border-bottom: whitesmoke solid 100px;
    box-shadow: 0 100px 0px 0px whitesmoke;
}


.review{
    position: relative;
    width: 240px;
    background-color: white;
    height: 140px;
    padding: 5px;
    box-sizing: border-box;
    margin: 5px;
}
.review > .thumbnailBox{
    position: relative;
    width: 80px !important;
    margin-right: 5px;
    box-sizing: border-box;
    display: inline-block;
    font-size: .6em;;
    float: left;
}
.thumbnailBox > .thumbnail{
    position: relative;
    width: 100%;
    padding-top: 120%;
    height: 0;
    display: inline-block;
    background-color: gray;

}
.thumbnailBox > .rating{
    color: #FDC700;
    display: inline-block;
    margin: .5em 0;
}
.reviewBox{
    vertical-align: top;
    font-size: .8em;
    padding: 5px;
    text-align: left;
}
.reviewBox > p{
    margin-top: 0;
}
.reviewEnvelope > .review{
    position: absolute;
    position: absolute;
    top: 20px;
    left: 10px;
    width: 260px;
}
.reviewEnvelope > a{
    position: absolute;
    font-size: 12px;
    bottom: 9px;
    right: 10px;
    text-decoration: none;
    z-index: 2;
}


.slideShow::after{
    content: "";
    z-index: 2;
    position: absolute;
    width: 10px; height: 10px;
    border-radius: 50%;
    background-color: rgb(167, 167, 167);
}
.slideShow:focus::after, .slideShow:focus:after, .slideShow:hover:after{
    background-color: gray;
}
.review.slideShow::after{
    bottom: -30px;
    left: 20px;
}
.slideShow:nth-child(1):after{
    transform: translateX(15px);
}
.slideShow:nth-child(2):after{
    transform: translateX(30px);
}
.slideShow:nth-child(3):after{
    transform: translateX(45px);
}
.slideShow:nth-child(4):after{
    transform: translateX(60px);
}
.slideShow:nth-child(5):after{
    transform: translateX(75px);
}
.slideShow:nth-child(6):after{
    transform: translateX(90px);
}
.slideShow:nth-child(7):after{
    transform: translateX(105px);
}


.dp{
    height: 90px;
    width: 90px;
    margin-right: -15px;
    position: relative;
    float: right;
    background-size: 100px 130px;
    background-color: rgb(255, 255, 255);
    background-image: url(../res/logoDp.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 1px 1px 2.5px 1px rgb(0 0 0 / 10%);
    border: solid white 5px;
    transform: rotate(1deg);
}

.smartphone{
    position: relative;
    top: 00px;
    left: 00px;
    width: 220px;
    height: 400px;
    border: solid black 5px;
    border-top-width: 15px;
    border-bottom-width: 15px;
    border-radius: 30px;
    background-color: white;

    transform: rotateZ(-1.5deg);
    margin: 0px 4em;

    filter: drop-shadow(1px 1px 8px rgba(0, 0, 0, 0.01));

}
.smartphone::after,.smartphone::before{
    content: "";
    position: absolute;
    top: 30px;
    left: 100%;
    width: 0px;
    height: 70px;
    border: solid white 3px;
    border-radius: 3px;
    border-color: inherit;
}
.smartphone::before{
    top: 120px;
    height: 30px;
}
.smartphone > h3{
    margin: .5em;
    margin-top: 3em;
    font-size: 1em;
}

#order{
    max-width: 900px;
}

.polaroid{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 90px;
    border-bottom-width: 7px;
    box-sizing: border-box;

    box-shadow:   0px 0px 0px 7px white, 1px 4px 20px 8px rgba(0, 0, 0, 0.1) ;
}
.polaroid:nth-child(1){ transform: rotate(-3deg); height: 100px; width: 70px; }
.polaroid:nth-child(2){ transform: rotate(3deg); height: 100px; width: 120px; }
.polaroid:nth-child(3){ transform: rotate(-4deg); height: 100px; width: 70px; }
.polaroid:nth-child(4){ transform: rotate(2deg); height: 100px; width: 70px; }
.polaroid:nth-child(5){ transform: rotate(-2deg); height: 100px; width: 70px; }
.polaroid:nth-child(6){ transform: rotate(1deg); height: 100px; width: 100px; }


.priceCalculator{
    transform: rotate(0);
}
.label{
    position: relative;
    width: 90%;
    font-size: .8em;
    display: block;
    
    line-height: 1.2em;
    padding: 5px;
    text-align: left;
    max-width: 600px;
    margin: 0 auto;
}
.label > span{
    position: absolute;
    top: 0;
    padding-top: inherit;
    width: 80px;
    height: 1.2em;
    display: inline-block;
    vertical-align: middle;
}
.label > .input{
    display: inline-block;
    width: 100%;
    padding: 0;
    padding-left: 80px;
    box-sizing: border-box;
    vertical-align: middle;
}
.input > input,.input > select,.input > textarea{
    width: 100%;
    height: 1.2em;

}

.question::before {
    content: "Q. ";
}
.answer::before{
    content: "A. ";
    height: auto;
    
}
.faq{
    text-align: left;
}
.faq > .answer{
    overflow: hidden;
    max-height: 00em;
    transition: max-height .2s ease;
}
.faq:focus > .answer{
    max-height: 10em;
}

.journey{
    position: relative;
    width: 2em;
    height: auto;
    font-size: 70px;

}
.journey > .icon{
    position: relative;
    
    line-height: 1em;
    width: 1em;
    height: 1em;
    text-align: center;
    display: inline-block;
}

.icon > i{
    position: absolute;
    top: 0;
     left: 0;
     width: 1em;
     height: 1em;
     display: inline-block;
}
.icon > i:nth-child(2){
    font-size: 30px;
    line-height: 1em;
    bottom: 0; right: 0;
    top: unset; left: unset;
    
    text-shadow:
    -2px -2px 0 #ffffff,
     0   -2px 0 #ffffff,
     2px -2px 0 #ffffff,
     2px  0   0 #ffffff,
     2px  2px 0 #ffffff,
     0    2px 0 #ffffff,
    -2px  2px 0 #ffffff,
    -2px  0   0 #ffffff
}
.payment::after{
    position: absolute;
    top: 0; left: 0;
    width: 2.85em;
    content: "";
    font-size: .35em;
    line-height: 2.85em;
    text-align: center;
    color: white;
    text-shadow: none;
}
.payment::after{
    content: "50%";
    text-align: center;
}
.payment.full::after{
    content: "100%";
    text-align: center;
}

.orderFrame{
    position: relative;
    display: inline-block;
    margin: 1em;
    text-align: center;
    padding: 0em;
    width: auto;
    height: auto;
    border: solid black 0px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.01);
}

.orderPreview{
    position: relative;
    background-color: bisque;
    width: 80px;
    height: 100px;
    display: inline-block;
}
.orderPreview > span{
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: .6em;
}

.orderPreview > span.height{
    left: 100%;
    height: 100%;
    width: 1em;
    writing-mode: vertical-lr; 
}
.orderPreview > span.width{
    top: 100%;
    width: 100%;
    height: 1em;
}

.about.notebook{
    position: relative;
}
.about > .paperstack{
    width: 360px;
}
.about > .tabbed{
    width: 220px;
}




.tabbed > .tab{
    position: absolute;
    top: 0; right: 100%;
    width: 50px;
    height: 1.5em;
    line-height: 1.5em;
    background-color: bisque;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.01);
    padding: .5em;
}
.tabbed:nth-child(1) > .tab{
    top: 2.7em;
}
.tabbed:nth-child(2) > .tab{
    top: 5.4em;
}
.tabbed:nth-child(3) > .tab{
    top: 8.1em;
}
.tabbed:nth-child(4) > .tab{
    top: 10.8em;
}
.tabbed:nth-child(5) > .tab{
    top: 13.5em;
}
.tabbed:nth-child(6) > .tab{
    top: 16.2em;
}

.orderDialog{
    position: fixed;
    top: 0;
    left: 0;
    margin: 1em auto;
    width: 600px;
    z-index: 10;
    padding: 0 1em;
    max-height: 90vh;
    overflow: scroll;
}
.orderDialog > .row{
    max-width: 500px !important;
}

.upload{
    width: 90%;
    height: 5em;
}

.uploadBar{
    position: relative;
    width: 100%;
    height: auto;
    background-color: whitesmoke;
    display: block;
    text-align: center;
}
.uploadBar > i {
    text-align: center;
    line-height: 1.5em;
    font-size: 3em;
}
.uploadBar > input{
    display: none;
}
.uploadBar > p{
    font-size: .9em;
}

.orderUploadImage{
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-align: left;
    width: 170px;
    margin: 5px;

}
.orderUploadImage > i{
    position: absolute;
    top: 0; right: 0;
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
}
.orderUploadImage > input{
    display: none;
}
.orderUploadImage > .thumbnail{
    width: 50px;
    height: 60px;
    float: left;
    background-color: beige;
    margin-right: 10px;
    vertical-align: bottom;
}

.artworkBox > .thumbnail{
    position: relative;
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    margin: 5px;
}

#footer{
    background-color: rgb(82, 16, 124);
    color: white;
    padding-top: 4em;
}
#footer::before{
    background-image: url(../res/bottom-img.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
}
.footerNav{
    text-align: left;
    text-align-last: left;
    vertical-align: middle;
    display: inline-block;
    text-align: left;
    line-height: 1em;;
    width: auto;
    margin: 1em 0;
}
.footerNav > a{
    display: block;
    padding: 0;
    line-height: 1.2em;
}
.footerNav:last-child{
    text-align: right;
}
.stats{
    
    margin-bottom: 1em;
    padding: 1em;
}
.stat{
    text-align: center;
    text-align-last: center;
    display: inline-block;
    vertical-align: top;
    position: relative;
    width: 70px;
}
.stat > .title{
    font-size: .6em;
    display: inline-block;
    width: 100%;
}
.stat > .value{
    font-size: 2em;
    display: inline-block;
    width: 100%;
}


.button{
    border: solid black 2px;
    border-radius: 3px;
    box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
    border-top-color: gray;
    border-left-color: grey;
    background-color: white;
    padding: .5em;
    outline: none;
}
.button.colored{
    background-color: rgb(82, 16, 124);
    border-color: rgb(82, 16, 124);
    color: white;
}

.artworkPage > h2{
    margin: 0;
}
.artworkPage > .artworkBox{
    margin: 1em 0;
}
.artworkPage > .buttonBox{
    width: 80%;
    position: absolute;
    bottom: 1em;
    text-align: justify;
    text-align-last: justify;
}

.mainContainer{
    display: none;
}
.mainContainer.active{
    display: block;
}

.youtubeVid, .amazonItem{
    position: relative;
    background-size: cover;
    background-position: center;
    display: inline-block;

    width: 200px; height: 150px;

    vertical-align: middle;
}
.youtubeVid::before , .amazonItem::before{
    display: inline-block;
    position: absolute;
    top: 50%; left: 0%;
    text-align: center;
    line-height: 0;
    width: 0; height: 0;
    color: orange;
    font-size: 2em;
    width: 100%;
}
.youtubeVid::before{
    color: white;
}
.youtubeVid:hover::before{
    color: red;
}

.seeMore{
    width: 100px;
    outline: solid black 1px;
    vertical-align: middle;
    height: 150px;
    display: inline-block;
    
    text-align: center;
}
.seeMore::after{
    position: absolute;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    left: 0;
    width: 100%;
    bottom: 1em;
    content: "See More";
    text-transform: none;
    text-align: center;
    font-size: 1em;;
    background-color: rgba(0, 0, 0, 0.63);
    padding: .25em 0;
    color: white;
}

.youtubeVid.seeMore{
    background-image: url(../res/ytBg.jpg) , linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ;
    background-blend-mode: multiply ;
}

.card{
    position: relative;
    border-radius: 3px;
    box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.1);
    width: 280px;
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
}

.instagram{
    text-align: left;;
    direction: ltr;
    text-align: left;
    text-align-last: left ;
}
.instagramStats{
    font-size: 1.5em;
    text-align: justify;
    text-align-last: justify ;
}
.instagramStats > *{
    display: inline-block;
    vertical-align: middle;
}
.instagramStats>.dp{
    border-radius: 50%;
    border: unset;
    float: unset;
    height: 2em; width: 2em;
}
.instagramStats > .stat{
    font-size: .4em;
    width: 60px;
    text-align: center;
    text-align-last: center;
}
.instagramBio{
    font-size: .8em;
}
.instagramBio > *{
    margin: 0;
}
.instagramBio > .name{
    margin-top: 1em;
    
}
.instagramBio > .desig{
    color: gray;
    font-size: .9em;
    line-height: 1.2em;
} 
.instagramBio > .bio{
    margin-bottom: 1em;
    max-height: 3.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}
.instagramFollow{
    text-align: center;
    text-align-last: center;
}
.instagramFollow > .button{
    background-color: rgb(65, 147, 239);
    padding: .3em 1em;
    text-decoration: none;
    color: white;
    border: unset;
    border-radius: 5px;
}
.instagramFollow > .button::before{
    display: inline-block;
    margin-right: 1em;
}
.instagramFollow > .button::after{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    content: "Instagram";

}

.homeSections{
    overflow-y: auto;
    word-break: keep-all;
    white-space: nowrap;

}