
.instagram{
    margin-top: 4em;
}
.contactCard{
    margin-top: 4em;
}

.notebook{
    position: relative;
    height: auto !important;
}
.notebook > *:last-child::after{
    
    content: "";
    position: absolute;
    left: -3px;
    top: 2px;
    height: 40px;
    width: 150px;
    width: 100%;
    left: 0;
    

    transform: translate3D(-45%,-11px,0);
    transform: translate3D(0%,-50%,0);
    z-index: 1;


    background-position: 0 2px;
    background-size: 30px;
    background-repeat: repeat-x;

    background-image: radial-gradient(circle farthest-side at 50% 150%, transparent 31%, rgba(83, 83, 83, 0.15) 32%, rgba(83, 83, 83, 0.15) 34%, rgba(83, 83, 83, 0.15) 36%, rgba(83, 83, 83, 0.15) 38%, transparent 39%);
    background-image: linear-gradient(  -97deg , transparent 45%, rgb(222, 222, 222) 47%, rgb(222, 222, 222) 53%, transparent 55%);
    filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.1));
}

.paperstack{
    position: relative;
    height: auto !important;
    width: auto !important;
    display: block;
}
.paperstack::before{
    height: 30px;
    width: 100%;
    top: unset;
    background-size: 30px;
    background-repeat: repeat-x;
}

.paperstack:nth-child(odd){
    padding-bottom: 30px;
    margin-bottom: 3px;
    margin-right: 0;
    background-repeat:  repeat-x;
}
.paperstack:nth-child(even){
    padding-top: 30px;
    margin-top: 3px;
    margin-left: 0;
}

.paperstack:nth-child(odd)::before{
    bottom: 0;
}
.paperstack:nth-child(even)::before{
    top: 0;
}

.artworkPage > .buttonBox{
    margin-top: 1em;
    bottom: unset;
    position: relative;
}
.homeNotebook{
    width: auto;
}
.homeNotebook > .paperstack{
    margin-right: 10px !important;
}

.smartphone{
    margin-top: 4em;
}