
.homeTop{
    text-align: center;
    text-align-last: center ;
    direction: ltr;
}

.col.right, .col.left{
    float: unset;
}

.smartphone{
    margin-top: 1em;
    margin-left: 0;
    vertical-align: middle;
}

.instagram{
    vertical-align: middle;
}
.instagramBio > .bio{
    max-height: 10em;
}


.homeSections > h3{
    position: sticky;
    left: 10px;
    max-width: 100vw;

}