html{
    max-width: 100% !important;
    justify-content: space-around !important;
    overflow-x: hidden;
}
body{
    justify-content: space-around;
    display: flex;
    max-width: 1200px;
    width: 100%;
    background-color: inherit;

   
}

.fixed{
    transition: none;
}
.horizontalScrollerParent{
    overflow-y: hidden;
    overflow-x: scroll;
    
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    height: auto;

    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.horizontalScrollerParent::-webkit-scrollbar{
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
}
.horizontalScroller{    
    flex-wrap: nowrap !important;
    justify-content: flex-start !important;
    height: auto;
    width: auto;

}
.horizontalScroller::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: red;
    top: 100%;
    z-index: 10;
    display: none;
}

*{
    color: inherit;
}
.section,.row,.col, body,html{
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 900px;
    width: 100%;
    box-sizing: border-box;
    justify-content: inherit;
    text-align: left;
    flex-shrink: 0;
}
.section{
    justify-content: space-around;
}
.extended{
    width: 100%;
    box-sizing: border-box;
}
.extended::before{
        content: "";
        position: absolute;
        top: 0; left: calc( (100% - 100vw)/2 );
        width: calc(100vw); height: 100%;
        width: 100dvw;
        left: 50%;
        transform: translate(-50%);
        background: inherit;
        box-shadow: inherit;
        z-index: 1;
}
.extended > *{
    position: relative;
    z-index: 2;
}
.heading{
    width: 100%;
   
    overflow: visible;
}

.col{
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
.col.one{
    width: 300px;
}
.col.two{
    width: 600px;
}
.col.half{
    width: 150px;
}
.col.quarter{
    width: 75px;
}
.col.quarter3{
    width: 225px; 
}
.col.one_half{
    width: 450px;
}
.col.one_quarter3{
    width: 525px;
}
.col.grow{
    flex: 1;
}
.center-align{
    text-align: center;
    text-align-last: center;
    align-items: center;
}
.left-align{
    text-align: left;
    text-align-last: left;
}
.right-align{
    text-align: right;
    text-align-last: right;
}
.justify-align{
    justify-content: space-between;
}
.justify-left-align{
    text-align: justify;
    text-align-last: left;
}
.wireframe{
    outline : solid gainsboro 1px;
}

.span{
    text-align: left;
    overflow: hidden;
}
.p{
    text-align: left;
    justify-content: flex-start;
}
.float-right{
    float: right;
    
}

.img{
    width: auto;
    height: auto;

    max-width: 100%;
    max-height: 100%;
}


.squareImgContainer{
    aspect-ratio: 1;
}
.square{
    aspect-ratio: 1;
    overflow: hidden;
}

.row.noFlex{
    display: block;
}
.col.noFlex{
    display: inline-block;
}


.table{
    justify-content: flex-start;
}
.tr{
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.th{
    font-weight: bold;
    width: 60px;
    flex-wrap: wrap;
}
.td{
    width: auto;
    flex-shrink: 1;
    flex-wrap: wrap;
}

.label{
    width: 100%;
    justify-content: space-between;
    line-height: 1.3em;
}
.label.upDown{
    justify-content: flex-start;
}
.labelText{
    width: 40%;
}
.labelInput{
    width: 60%;
}
.label.upDown > .labelText, .label.upDown > .labelInput{
    width: 100%;
}
.label.checkbox{
    
}
.label.checkbox > .labelInput{
    aspect-ratio: 1;
    width: 1em;
    height: 1em;
}
.label.checkbox > .labelInput ~ .row{
    max-height: 0em;
    overflow: hidden;
    padding-left: 1em;
}
.label.checkbox > .labelInput:checked ~ .row{
    max-height: 20em;
}
.label.checkbox > .labelText{
    width: auto;
}

input, select, textarea{
    background-color: inherit;
    color: inherit;
}

.svg > svg{
    max-width: 100%;
    max-height: 100%;
    width: auto; height: auto;
}

.mediaSection{
    padding: 0 1em;
}
.mediaSwitcher{
    flex-wrap: nowrap;
}
.mediaSwitcher > .thumb{
    max-height: 75px;
    aspect-ratio: 1;
}
.mediaViewer{
    align-items: center;
    aspect-ratio: 1 / 1;

    height: 400px;
    width: 400px;
}
.mediaViewer > .col{
    width: auto;
    margin: 1em;
}


.pullRight{
    float: right;
    display: inline;
    overflow: visible;
}
.pullLeft{
    float: left;
    display: inline;
    overflow: visible;
}
.inline{
    display: inline;
}

#disqus_thread{
    margin-top: 2em;
    margin: 1em auto;
    padding: 1em;
    box-sizing: border-box;
}
.commentSection{
    margin-top: 3em;;
}